section.login.container,
section.password.container,
section.password.container .input input,
section.password.container .input .error{
  max-width: 500px;
}

section.login.container .fields,
section.password.container .fields{
  margin-bottom: 32px;
}

section.login.container .footer ul {
  display: flex;
  justify-content: space-evenly;
}

section.login.container .footer ul li a {
  color: #777;
  transition: 150ms;
}

section.login.container .footer ul li a:hover {
  color: black;
  font-weight: bold;
}
